@charset "utf-8";

.cam_all li {
    height: 70vh;
}




/* 1365 lap.ver */
@media (max-width: 1365px) {
    .cam_all li {
        height: 70vh;
    }

}

/* Tb.+Mo.ver */
@media (max-width: 768px) {

    /* 멤버그리드 */
    .cam_all {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 20px;
    }

    .cam_all li {
        height: 35vh;
    }

}

/* 가로모드 */
@media screen and (orientation: landscape) {
    .cam_all {
        grid-template-columns: repeat(2, 1fr);
    }

    .cam_all li {
        height: 65vh;
    }

}